$proj-color-a: #7C6EB0;
$proj-color-d: #5488C7;
$proj-color-e: #64BDE1;
$proj-color-f: #45B97C;
$proj-color-g: #87C879;
$proj-color-i: #7C93A0;
$proj-color-j: #208076;
$proj-color-l: #F58220;
$proj-color-n: #D9124A;
$proj-color-p: #05AECD;
$proj-color-r: #DCAA44;
$proj-color-s: #008BBF;
$proj-color-t: #2B3847;